.jumbotron{
    background-color: cyan;
    color: black;
    text-align: center;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: cyan;
    margin-bottom: 0px;
    align-content: center;
}
.card-hba {
    flex-direction: column;
    justify-content: space-between;
    flex: 2 150px;
    padding: 5px 5px 2px 2px;

}

